
<h1>Detailansicht</h1>

<h2>{person.title}</h2>
<p>Themenfeld: {person.topic}</p>
<h3>Adressierte Wertschöpfungskettenelemente:</h3>
<ol>
    <f:for each="{person.wskElement}" as="wsk" >
        <li>{wsk.title}</li>
    </f:for>
</ol>
<h3>Beteiligte Einrichtungen:</h3>
<ol>
    <f:for each="{person.institution}" as="institution">
        <li>{institution.title}</li>
    </f:for>
</ol>
<p>im Wasserstoffsegment seit: {project.entryDate}</p>
<p>Fördervolumen: {project.volume}</p>
<p>Gesamtvolumen: {project.overallVolume}</p>
<p>Förderprogramm: {project.researchprogram}</p>
<p><f:link.external uri="{project.link}" >Link zum Programm</f:link.external></p>
<h3>Ansprechpartner:</h3>
<p>{project.contactPerson.title}</p>
<h3>Details und Erfahrung:</h3>
<p>{project.description}</p>
<p>Region: {project.region}</p>
<h3>Veröffentlichungen:</h3>
<ol>
    <f:for each="{project.publication}" as="publication" >
        <li>{publication.title}</li>
    </f:for>
</ol>