<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <!--
        =====================
            Display/List.html
    -->

    <f:section name="Content">
<div class="projectList">
    <h1>Project Map</h1>
    <ul>
        <f:for each="{projects}" as="project">
        <li>
            <f:link.action action="detail" pluginName="{pluginName}" arguments="{uid:project.uid}" pageUid="{detailViewPage}">
                {project.title}
            </f:link.action>
            <br>
            <f:for each="{project.topics}" as="topic" >
                <f:if condition="{topic.title}">
                    <f:link.action action="listByProperty" pluginName="{pluginName}" pageUid="{listViewPage}">
                        {topic.title}<br>
                    </f:link.action>
                </f:if>
            </f:for>
            {project.runtimeAsString}<br>
            {project.status.title}<br>
            {project.region.title}<br><br>
        </li>
        </f:for>
    </ul>
</div>
    </f:section>
</div>