<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <!--
        =====================
            Display/Detail.html
    -->

    <f:section name="Content">
<div class="project-detail">
    <article>
        <br>
        <h1 class="brand">{project.title}</h1>
        <p>{project.description}</p>
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>{f:translate(key: 'projectDetail.label.topic', extensionName: 'project_organizer')}</th>
                <td>
                    <f:for each="{project.topics}" as="topic">
                        <f:link.action action="listByTopic" arguments="{topic: topic.uid}" pluginName="{pluginName}" pageUid="{listViewPage}">
                            {topic.title}
                        </f:link.action><br>
                    </f:for>
                </td>
            </tr>
            <tr>
                <th>{f:translate(key: 'projectDetail.label.wsk', extensionName: 'project_organizer')}</th>
                <td>
                    <ol>
                        <f:for each="{project.wskElements}" as="wsk">
                            <li>{wsk.title}</li>
                        </f:for>
                    </ol>
                </td>
            </tr>
            <tr>
                <th>{f:translate(key: 'projectDetail.label.institution', extensionName: 'project_organizer')}</th>
                <td>
                    <ol>
                        <f:for each="{project.institutions}" as="item">
                            <li>{item.title}</li>
                        </f:for>
                    </ol>
                </td>
                <ol>
                    <f:for each="{project.institutions}" as="item">
                        <li>{item.title}</li>
                    </f:for>
                </ol>
            </tr>
            <tr>
                <th>{f:translate(key: 'projectDetail.label.status', extensionName: 'project_organizer')}</th>
                <td>{project.status.title}</td>
            </tr>
            <tr>
                <th>{f:translate(key: 'label.runtime', extensionName: 'project_organizer')}</th>
                <td>{project.runtimeStart} - {project.runtimeEnd}</td>
            </tr>
            <tr>
                <th>{f:translate(key: 'projectDetail.label.volume', extensionName: 'project_organizer')}</th>
                <td>{project.volume}</td>
            </tr>
            <tr>
                <th>{f:translate(key: 'projectDetail.label.overallVolume', extensionName: 'project_organizer')}</th>
                <td>{project.overallVolume}</td>
            </tr>
            <tr>
                <th>{f:translate(key: 'projectDetail.label.link', extensionName: 'project_organizer')}</th>
                <td>{project.link}</td>
            </tr>
            <tr>
                <th>{f:translate(key: 'label.contactEmail', extensionName: 'project_organizer')}</th>
                <td>{project.contactEmail}</td>
            </tr>
            <tr>
                <th>{f:translate(key: 'projectDetail.label.contactPerson', extensionName: 'project_organizer')}</th>
                <td>{project.contactPerson}</td>
            </tr>
            <tr>
                <th>{f:translate(key: 'projectDetail.label.region', extensionName: 'project_organizer')}</th>
                <td>{project.region.title}</td>
            </tr>
            <tr>
                <th>{f:translate(key: 'projectDetail.label.publication', extensionName: 'project_organizer')}</th>
                <td>
                    <ol>
                        <f:for each="{project.publications}" as="publication">
                            <li>{publication.title}</li>
                        </f:for>
                    </ol>
                </td>
            </tr>
            </tbody>
        </table>
        <p>Show in Map: {project.showInMap}<br>
        Is hypos Project: {project.hypos}<br>
        Is demonstration Project: {project.demoProject}<br>
        ResearchProgram: {project.researchprogram}<br>
        Location: {project.location}<br></p>
        <p><f:link.action action="edit" arguments="{uid:project.uid}">bearbeiten</f:link.action></p>


        <p><f:link.action action="list" pageUid="{listViewPage}">{f:translate(key: 'projectDetail.title.backToList', extensionName: 'project_organizer')}
        </f:link.action></p>
    </article>
</div>
    </f:section>
</div>