<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <!--
        =====================
            Editor/Create.html
    -->

    <f:section name="Content">
        <div class="project-edit">
            <f:form action="persist" controller="Editor" pluginName="{pluginName}" object="{project}" name="project">
                <f:form.hidden name="oldProject" value="{oldProject}" />
                <f:if condition="{errorMessage}" >
                    <p>{errorMessage}</p>
                </f:if>
                <f:form.validationResults>
                    <f:if condition="{validationResults.flattenedErrors}">
                        <ul class="errors">
                            <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
                                <f:switch expression="{propertyPath}">
                                    <f:case value="project.title"><v:variable.set name="error-title" value="has-error" /></f:case>
                                    <f:case value="project.description"><v:variable.set name="error-description" value="has-error" /></f:case>
                                    <f:case value="project.link"><v:variable.set name="error-link" value="has-error" /></f:case>
                                    <f:case value="project.topics"><v:variable.set name="error-topics" value="has-error" /></f:case>
                                    <f:case value="project.status"><v:variable.set name="error-status" value="has-error" /></f:case>
                                    <f:case value="project.runtime"><v:variable.set name="error-runtime" value="has-error" /></f:case>
                                    <f:case value="project.region"><v:variable.set name="error-region" value="has-error" /></f:case>
                                    <f:case value="project.wskelements"><v:variable.set name="error-wskelements" value="has-error" /></f:case>
                                </f:switch>
                                <li>{propertyPath}
                                    <ul>
                                        <f:for each="{errors}" as="error">
                                            <li>{error.code}: {error}</li>
                                        </f:for>
                                    </ul>
                                </li>
                            </f:for>
                        </ul>
                    </f:if>
                </f:form.validationResults>
                <f:if condition="{f:translate(key: 'addProject.legend', extensionName: 'project_organizer')}">
                    <legend>{f:translate(key: 'addProject.legend', extensionName: 'project_organizer')}</legend>
                </f:if>
                <div class="form-group {error-title}">
                    <label for="title">{f:translate(key: 'label.title', extensionName: 'project_organizer')}</label>
                    <f:form.textfield size="30" id="title" property="title" class="form-control" errorClass="has-error" />
                    <f:form.validationResults for="project.title">
                        <f:if condition="{validationResults.flattenedErrors}">
                            <ul class="errors">
                                <f:for each="{validationResults.errors}" as="error">
                                    <li>{error}</li>
                                </f:for>
                            </ul>
                        </f:if>
                    </f:form.validationResults>
                </div>
                <div class="form-group {error-description}">
                    <label for="description">{f:translate(key: 'label.description', extensionName: 'project_organizer')}</label>
                    <f:form.textarea property="description" id="description" rows="5" cols="50" class="form-control" errorClass="has-error"  ></f:form.textarea>
                    <f:form.validationResults for="project.description">
                        <f:if condition="{validationResults.flattenedErrors}">
                            <ul class="errors">
                                <f:for each="{validationResults.errors}" as="error">
                                    <li>{error}</li>
                                </f:for>
                            </ul>
                        </f:if>
                    </f:form.validationResults>
                </div>
                <div class="form-group {error-link}">
                    <label for="link">{f:translate(key: 'label.link', extensionName: 'project_organizer')}</label>
                    <f:form.textfield property="link" id="link" class="form-control" errorClass="has-error"/>
                    <f:form.validationResults for="project.link">
                        <f:if condition="{validationResults.flattenedErrors}">
                            <ul class="errors">
                                <f:for each="{validationResults.errors}" as="error">
                                    <li>{error}</li>
                                </f:for>
                            </ul>
                        </f:if>
                    </f:form.validationResults>
                </div>

                <!-- !!! Dummy fields - ToDo: Remove -->
                <div class="form-group {error-volume}">
                    <label for="volume">{f:translate(key: 'label.volume', extensionName: 'project_organizer')}</label>
                    <f:form.textfield property="volume" id="volume" class="form-control" errorClass="has-error"/>
                    <f:form.validationResults for="project.volume">
                        <f:if condition="{validationResults.flattenedErrors}">
                            <ul class="errors">
                                <f:for each="{validationResults.errors}" as="error">
                                    <li>{error}</li>
                                </f:for>
                            </ul>
                        </f:if>
                    </f:form.validationResults>
                </div>
                <div class="form-group {error-overallVolume}">
                    <label for="overallVolume">{f:translate(key: 'label.overallVolume', extensionName: 'project_organizer')}</label>
                    <f:form.textfield property="overallVolume" id="overallVolume" class="form-control" errorClass="has-error"/>
                    <f:form.validationResults for="project.overallVolume">
                        <f:if condition="{validationResults.flattenedErrors}">
                            <ul class="errors">
                                <f:for each="{validationResults.errors}" as="error">
                                    <li>{error}</li>
                                </f:for>
                            </ul>
                        </f:if>
                    </f:form.validationResults>
                </div>
                <div class="form-group {error-location}">
                    <label for="location">{f:translate(key: 'label.location', extensionName: 'project_organizer')}</label>
                    <f:form.textfield property="location" id="location" class="form-control" errorClass="has-error"/>
                    <f:form.validationResults for="project.location">
                        <f:if condition="{validationResults.flattenedErrors}">
                            <ul class="errors">
                                <f:for each="{validationResults.errors}" as="error">
                                    <li>{error}</li>
                                </f:for>
                            </ul>
                        </f:if>
                    </f:form.validationResults>
                    <div id="location-map" style="width: 100px; height: 100px; border: 1px solid silver"></div>
                </div>

                <!-- End - Dummy fields - ToDo: Remove -->

                <div class="form-group {error-location}">
                    <label for="contactEmail">{f:translate(key: 'label.contactEmail', extensionName: 'project_organizer')}</label>
                    <f:form.textfield property="contactEmail" id="contactEmail" class="form-control" errorClass="has-error"/>
                    <f:form.validationResults for="project.contactEmail">
                        <f:if condition="{validationResults.flattenedErrors}">
                            <ul class="errors">
                                <f:for each="{validationResults.errors}" as="error">
                                    <li>{error}</li>
                                </f:for>
                            </ul>
                        </f:if>
                    </f:form.validationResults>
                </div>

                <div class="form-group {error-location}">
                    <label for="contactPerson">Ansprechpartner</label>
                    <f:form.textfield property="contactPerson" id="contactPerson" class="form-control" errorClass="has-error"/>
                    <f:form.validationResults for="project.contactPerson">
                        <f:if condition="{validationResults.flattenedErrors}">
                            <ul class="errors">
                                <f:for each="{validationResults.errors}" as="error">
                                    <li>{error}</li>
                                </f:for>
                            </ul>
                        </f:if>
                    </f:form.validationResults>
                </div>

                <div class="form-group {error-location}">
                    <label for="researchprogram">Forschungsprogramm</label>
                    <f:form.textfield property="researchprogram" id="researchprogram" class="form-control" errorClass="has-error"/>
                    <f:form.validationResults for="project.researchprogram">
                        <f:if condition="{validationResults.flattenedErrors}">
                            <ul class="errors">
                                <f:for each="{validationResults.errors}" as="error">
                                    <li>{error}</li>
                                </f:for>
                            </ul>
                        </f:if>
                    </f:form.validationResults>
                </div>

                <div class="form-group {error-location}">
                    <label for="demoProject">Demonstrationsanlage
                        <f:form.checkbox property="demoProject" id="demoProject" value="demoProject" class="form-control" />
                    </label>
                </div>


                <div class="form-group {error-topics}">
                    <label for="topics">{f:translate(key: 'label.topics', extensionName: 'project_organizer')}</label>
                    <v:form.select property="topics" id="topics" multiple="true" class="form-control" errorClass="has-error" >
                        <f:for each="{topics}" as="topic" >
                            <v:form.select.option selected="false"
                                                  value="{topic.uid}" >
                                {topic.title}
                            </v:form.select.option>
                        </f:for>
                    </v:form.select>
                    <f:form.validationResults for="project.topics">
                        <f:if condition="{validationResults.flattenedErrors}">
                            <ul class="errors">
                                <f:for each="{validationResults.errors}" as="error">
                                    <li>{error}</li>
                                </f:for>
                            </ul>
                        </f:if>
                    </f:form.validationResults>
                </div>
                <div class="form-group {error-status}">
                    <label for="status">{f:translate(key: 'label.status', extensionName: 'project_organizer')}</label>
                    <v:form.select property="status"
                                   id="status"
                                   class="form-control"
                                   errorClass="has-error"
                                   multiple="false" >
                        <f:for each="{statusOptions}" as="statusOption" >
                            <v:form.select.option value="{statusOption.uid}" >{statusOption.title}</v:form.select.option>
                        </f:for>
                    </v:form.select>
                    <f:form.validationResults for="project.status">
                        <f:if condition="{validationResults.flattenedErrors}">
                            <ul class="errors">
                                <f:for each="{validationResults.errors}" as="error">
                                    <li>{error}</li>
                                </f:for>
                            </ul>
                        </f:if>
                    </f:form.validationResults>
                </div>
                <div class="form-group {error-runtimeStart}">
                    <label for="runtimeStart">{f:translate(key: 'label.runtime', extensionName: 'project_organizer')} Start</label>
                    <f:form.textfield id="runtimeStart" property="runtimeStart" class="form-control datepicker" errorClass="has-error"/>
                    <f:form.validationResults for="project.runtimeStart">
                        <f:if condition="{validationResults.flattenedErrors}">
                            <ul class="errors">
                                <f:for each="{validationResults.errors}" as="error">
                                    <li>{error}</li>
                                </f:for>
                            </ul>
                        </f:if>
                    </f:form.validationResults>
                </div>
                <div class="form-group {error-runtimeEnd}">
                    <label for="runtimeEnd">{f:translate(key: 'label.runtime', extensionName: 'project_organizer')} Ende</label>
                    <f:form.textfield id="runtimeEnd" property="runtimeEnd" class="form-control datepicker" errorClass="has-error"/>
                    <f:form.validationResults for="project.runtimeEnd">
                        <f:if condition="{validationResults.flattenedErrors}">
                            <ul class="errors">
                                <f:for each="{validationResults.errors}" as="error">
                                    <li>{error}</li>
                                </f:for>
                            </ul>
                        </f:if>
                    </f:form.validationResults>
                </div>
                <div class="form-group {error-institution}">
                    <label for="institutions">Institution</label>
                    <v:form.select property="institutions"
                                   id="institutions"
                                   multiple="true"
                                   class="form-control"
                                   errorClass="has-error">
                        <f:for each="{institutions}" as="institution" >
                            <v:form.select.option value="{institution.uid}" >
                                {institution.title}
                            </v:form.select.option>
                        </f:for>
                    </v:form.select>
                    <f:link.action controller="Institution" action="insertForm" pluginName="institutions_insert" pageUid="{insertInstitutionPage}">nicht dabei?</f:link.action>
                    <f:form.validationResults for="project.region">
                        <f:if condition="{validationResults.flattenedErrors}">
                            <ul class="errors">
                                <f:for each="{validationResults.errors}" as="error">
                                    <li>{error}</li>
                                </f:for>
                            </ul>
                        </f:if>
                    </f:form.validationResults>
                </div>
                <div class="form-group {error-region}">
                    <label for="region">{f:translate(key: 'label.region', extensionName: 'project_organizer')}</label>
                    <v:form.select property="region"
                                   id="region"
                                   class="form-control"
                                   errorClass="has-error">
                        <v:form.select.option value="" >
                            -- keine Förderung --
                        </v:form.select.option>
                        <f:for each="{regions}" as="region" >
                            <v:form.select.option value="{region.uid}" >
                                {region.title}
                            </v:form.select.option>
                        </f:for>
                    </v:form.select>
                    <f:form.validationResults for="project.region">
                        <f:if condition="{validationResults.flattenedErrors}">
                            <ul class="errors">
                                <f:for each="{validationResults.errors}" as="error">
                                    <li>{error}</li>
                                </f:for>
                            </ul>
                        </f:if>
                    </f:form.validationResults>
                </div>
                <div class="form-group {error-wskelements}">
                    <label for="wskelements">{f:translate(key: 'label.wskelements', extensionName: 'project_organizer')}</label>
                    <v:form.select property="wskelements"
                                   id="wskelements"
                                   class="form-control"
                                   errorClass="has-error"
                                   multiple="true" >
                        <f:for each="{wskelements}" as="wsk" >
                            <v:form.select.option value="{wsk.uid}" >
                                {wsk.title}
                            </v:form.select.option>
                        </f:for>
                    </v:form.select>
                    <f:form.validationResults for="project.wskelements">
                        <f:if condition="{validationResults.flattenedErrors}">
                            <ul class="errors">
                                <f:for each="{validationResults.errors}" as="error">
                                    <li>{error}</li>
                                </f:for>
                            </ul>
                        </f:if>
                    </f:form.validationResults>
                </div>
                <f:form.button class="btn btn-default">{f:translate(key: 'addProject.label.submit', extensionName: 'project_organizer')}</f:form.button>
            </f:form>
        </div>
        <f:comment>
            http://logicify.github.io/jquery-locationpicker-plugin/
            /*
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkwfV7xf17mFfKxwJdM_vfL7IsfEstPwU&callback=initMap"
                    type="text/javascript"></script>
            */
            /* Hypos GMap Key: AIzaSyDkwfV7xf17mFfKxwJdM_vfL7IsfEstPwU */
        </f:comment>
        <v:asset.style path="/typo3conf/ext/project_organizer/Resources/Public/Css/bootstrap.min.css" standalone="true" external="true" />
        <v:asset.style path="/typo3conf/ext/project_organizer/Resources/Public/Css/bootstrap-datepicker.min.css" standalone="true" external="true" />
        <v:asset.script path="/typo3conf/ext/custom_template/Resources/Public/js/script.js" standalone="true" external="true" />
        <v:asset.script path="/typo3conf/ext/project_organizer/Resources/Public/Js/bootstrap-datepicker.min.js"  standalone="true" external="true" />
        <v:asset.script path="http://maps.google.com/maps/api/js?key=AIzaSyDkwfV7xf17mFfKxwJdM_vfL7IsfEstPwU&sensor=false&libraries=places" external="true" />
        <v:asset.script path="/typo3conf/ext/project_organizer/Resources/Public/Js/locationpicker.jquery.js"  />
        <v:asset.script>
            $('.datepicker').datepicker();
        </v:asset.script>
    </f:section>
</div>