<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <!--
        =====================
            Display/List.html

            object projects:
                  validationState => protected1 (integer)
                  passwordHash => protected'$pbkdf2-sha256$25000$Ks0B2069nvdnq2sbTD/b3g$rEj2ET8sI0nl76rgpKKnHXXLxhBXizBL
                     RHdn0JcxJEk' (87 chars)
                  password => protectedNULL
                  institutions => protectedTYPO3\CMS\Extbase\Persistence\ObjectStorageprototypeobject (3 items)
                  location => protected'Ort01' (5 chars)
                  contactEmail => protected'test01@klickdienst.de' (21 chars)
                  showInMap => protectedFALSE
                  hypos => protectedFALSE
                  orig => protectedNULL
                  researchprogram => protected'' (0 chars)
                  demoProject => protectedTRUE
                  uid => protected40 (integer)
                  _localizedUid => protected40 (integer)modified
                  _languageUid => protectedNULL
                  _versionedUid => protected40 (integer)modified
                  pid => protected245 (integer)
                  contactPerson => protected'Anpsprech01' (11 chars)
                  description => protected'Beschreibung 01' (15 chars)
                  link => protected'www.link-01.de' (14 chars)
                  overallVolume => protected'Gesamt01' (8 chars)
                  publications => protectedTYPO3\CMS\Extbase\Persistence\Generic\LazyObjectStorageprototypeobject (empty)
                  region => protectedAlexGunkel\ProjectOrganizer\Domain\Model\Regionprototypepersistent object (uid=1, pid=245)
                  researchprograms => protectedNULL
                  runtimeStart => protected'1529884800' (10 chars)
                  runtimeEnd => protected'1533340800' (10 chars)
                  status => protectedAlexGunkel\ProjectOrganizer\Domain\Model\Statusprototypepersistent object (uid=2, pid=245)
                  title => protected'Testprojekt 01' (14 chars)
                  topics => protectedTYPO3\CMS\Extbase\Persistence\ObjectStorageprototypeobject (2 items)
                  volume => protected'Volume01' (8 chars)
                  wskelements => protectedTYPO3\CMS\Extbase\Persistence\ObjectStorageprototypeobject (1 items)
                  hidden => protectedFALSE
                  deleted => protectedNULL
                  crDate => protected0 (integer)
                  tstamp => protected




                  #########################


                  HYPOS HALLE POSITION:

                  HYPOS Hydrogen Power Storage &amp; Solutions East Germany e.V.
                  Blücherstraße 26, 06120 Halle (Saale)
                  51.491311, 11.934074


    -->

    <f:section name="Content">
        <f:if condition="{settings.list_view} == 'map'">
            <f:then>
                <f:render partial="List/ProjectMap" section="Main" arguments="{_all}" />
            </f:then>
            <f:else>
                <f:render partial="List/Default" section="Main" arguments="{_all}" />
            </f:else>
        </f:if>
    </f:section>
</div>