<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <!--
        =====================
            Display/List.html
    -->

    <f:section name="Content">
<div class="projectList">
    <table class="table table-style1 table-striped">
        <thead>
            <tr>
                <th scope="col">{f:translate(key: 'projectList.label.title', extensionName: 'project_organizer')}</th>
                <th scope="col">{f:translate(key: 'projectList.label.topic', extensionName: 'project_organizer')}</th>
                <th scope="col">{f:translate(key: 'projectList.label.runtime', extensionName: 'project_organizer')}</th>
                <th scope="col">{f:translate(key: 'projectList.label.status', extensionName: 'project_organizer')}</th>
                <th scope="col">{f:translate(key: 'projectList.label.region', extensionName: 'project_organizer')}</th>
            </tr>
        </thead>
            <tbody>
            <f:for each="{projects}" as="project">
                <tr>
                    <td>
                        <f:link.action action="detail" pluginName="{pluginName}" arguments="{uid:project.uid}" pageUid="{detailViewPage}">
                            {project.title}
                        </f:link.action>
                    </td>
                    <td>
                        <f:for each="{project.topics}" as="topic" >
                            <f:link.action action="listByTopic" arguments="{topic:topic.uid}" pluginName="{pluginName}" pageUid="{listViewPage}">
                                {topic.title}
                            </f:link.action>
                        </f:for>
                    </td>
                    <td><f:format.date format="d.m.Y">{project.runtimeEnd}</f:format.date></td>
                    <td>{project.status.title}</td>
                    <td>{project.region.title}</td>
                </tr>
            </f:for>
        </tbody>
    </table>
    <p class="btn-spacy">
        <a class="btn btn-primary" href="http://test.hypos-eastgermany.de/intern/examples/projects/">{f:translate(key: 'projectDetail.title.overview', extensionName: 'project_organizer')}</a>
        <a class="btn btn-primary"  href="http://test.hypos-eastgermany.de/intern/examples/projects/add-project/">{f:translate(key: 'projectDetail.title.addNewProject', extensionName: 'project_organizer')}</a>
    </p>
</div>
    </f:section>
</div>