<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <!--
        =====================
            Display/ListByTopic.html
    -->

    <f:section name="Content">
<div class="projectTopicList">
    <f:for each="{projects}" as="project">
        <f:debug>{project}</f:debug>
    </f:for>
</div>
    </f:section>
</div>

