<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      v:schemaLocation="https://fluidtypo3.org/schemas/vhs-master.xsd">
<head>
    <title>Partials: MyPartial</title>
</head>
<body>
<f:section name="Main">
    <f:comment>
        // GOOGLE MAPS
        // https://medium.com/@limichelle21/integrating-google-maps-api-for-multiple-locations-a4329517977a
        // https://www.taniarascia.com/google-maps-apis-for-multiple-locations/
    </f:comment>
    <v:variable.set name="googleKey">{f:cObject(typoscriptObjectPath: 'lib.config.googleKey')}</v:variable.set>
    <v:asset external="1" movable="1" name="gmap01">
        <script async
                src="https://maps.googleapis.com/maps/api/js?key={googleKey}&callback=initMap">
        </script>
    </v:asset>
    <v:asset.script external="0" movable="1" name="gmap02"  namedChunks="false" standalone="false">
    var mapLocations =  [
                        <f:for each="{projects}" as="project" iteration="i"><f:if condition="{project.location}">
                            [
                                '{project.title}',
                                `<strong>{project.title}<br>\
                                {project.location}<br>\
                                </strong>
                            <f:format.nl2br>
                                <v:format.eliminate whitespaceBetweenHtmlTags="1" tabs="1" unixBreaks="1" windowsBreaks="1" nonAscii="1">
                                    {project.description}
                                </v:format.eliminate>
                            </f:format.nl2br>
                                <br>\
                                <f:link.action action="detail"
                                               pluginName="{pluginName}"
                                               arguments="{uid:project.uid}"
                                               pageUid="{detailViewPage}">{f:translate(key: 'projectList.goToDetailView', extensionName:
                                    'project_organizer')}</f:link.action>`,
                                {project.geoLocationX},
                                {project.geoLocationY}
                            ],
                        </f:if></f:for>
                    ];
    function initMap() {
        var center = {lat: 51.49, lng: 11.93},
            marker,
            //markers = [], // additional array with all markers
            count,
            locations = mapLocations,
            map = new google.maps.Map(document.getElementById('map'), {
                center: center,
                zoom: 7
            }),
            bounds = new google.maps.LatLngBounds(),
            baseLocation = new google.maps.LatLng(center);
            infowindow = new google.maps.InfoWindow({});

        bounds.extend(baseLocation);

        for (count = 0; count < locations.length; count++) {
            var title = locations[count][0],
                info = locations[count][1],
                lat = locations[count][2],
                long = locations[count][3];

            if (lat && long && !isNaN(lat) && !isNaN(long)) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(lat, long),
                    map: map,
                    title: title
                });
                // markers.push(marker); // additional array with all markers
                // center all markers #1
                var loc = new google.maps.LatLng(lat, long);
                    bounds.extend(loc);

                google.maps.event.addListener(marker, 'click', (function (marker, count, info) {
                    return function () {
                        infowindow.setContent(info);
                        infowindow.open(map, marker);
                    }
                })(marker, count, info));
            }
            // center all markers #2
            map.fitBounds(bounds);
        }
    }
    </v:asset.script>
</f:section>
</body>
</html>