<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      v:schemaLocation="https://fluidtypo3.org/schemas/vhs-master.xsd">
<head>
    <title>Partials: MyPartial</title>
</head>
<body>
<f:section name="Main">


    <div class="form-group {error-location}">
        <label for="location">{f:translate(key: 'label.locationLabel', extensionName:
            'project_organizer')}</label>
        <f:form.textfield property="location" id="location" class="form-control" errorClass="has-error"/>
        <f:form.validationResults for="project.location">
            <f:if condition="{validationResults.flattenedErrors}">
                <ul class="errors">
                    <f:for each="{validationResults.errors}" as="error">
                        <li>{error}</li>
                    </f:for>
                </ul>
            </f:if>
        </f:form.validationResults>

        <div class="location-picker" style="margin: 2em 0;">
            <input type="hidden" id="txtLocation" data-type="location-store">
            <div class="map-container">
                <label for="location-address">{f:translate(key: 'label.address', extensionName:
                    'project_organizer')}</label>
                <input type="text" id="location-address" class="form-control"/>
                <input type="hidden" id="location-lat"/>
                <input type="hidden" id="location-lon"/>
                <div id="locationPicker" style="width: 500px; height: 400px; margin: 1em;"></div>
            </div>
        </div>
    </div>
    <v:asset.style path="/typo3conf/ext/project_organizer/Resources/Public/Css/bootstrap-datepicker.min.css"
                   standalone="true" external="true"/>
    <v:asset.script
            path="https://code.jquery.com/jquery-1.10.2.min.js"
            external="true"/>
    <v:asset.script
            path="https://maps.google.com/maps/api/js?key=AIzaSyDkwfV7xf17mFfKxwJdM_vfL7IsfEstPwU&libraries=places"
            external="true"/>
    <v:asset.script
            path="https://test.hypos-eastgermany.de/typo3conf/ext/custom_template/Resources/Public/js/vendor/locationpicker.jquery.js"
            external="true"/>
    <v:asset.script path="/typo3conf/ext/project_organizer/Resources/Public/Js/bootstrap-datepicker.min.js"  standalone="true" external="true" />
    <v:asset.script external="true">
        $(document).ready(function() {
        // https://github.com/Logicify/jquery-locationpicker-plugin
        $('#locationPicker').locationpicker({
            location: {
                latitude: 52.51878788597465,
                longitude: 13.402531539428765
            },
            inputBinding: {
                latitudeInput: $('#location-lat'),
                longitudeInput: $('#location-lon'),
                locationNameInput: $('#location-address')
            },
            enableAutocomplete: true,
            zoom: 7,
            onchanged: function (currentLocation, radius, isMarkerDropped) {
                // ToDo: fill location fields
            }
        });
        $('form[name="project"]').on('submit', function(e) {
            var $locationField = $('#location'),
            $curLocation = $locationField.val().replace(/\s*\[.*?\]\s*/g, ''),
            $newLocation = $curLocation + ' [' + $('#location-lat').val() + '/' + $('#location-lon').val() + ']';
            $locationField.val($newLocation);
        });
        $('.datepicker').datepicker();
        });
    </v:asset.script>

</f:section>
</body>
</html>