<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <!--
        =====================
            Display/ListByTopic.html
    -->

    <f:section name="Content">
		<div class="insertInstitutionForm">
            <p>{f:translate(key: 'addInstitution.institutionWasAdded', extensionName: 'project_organizer')}</p>
            <p>{institution.title}</p>
            <p><a class="btn btn-primary" href="/projects/institution-list/">Zur Liste</a></p>
        </div>
    </f:section>
    
</div>
