<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <!--
        =====================
            Display/Detail.html
    -->

    <f:section name="Content">
<div class="institution-detail">
    <article>
        <br>
        <h1 class="brand">Name: {institution.title}</h1>
            <table class="table table-style1 table-striped">
            <tbody>
            <tr>
                <th>Name</th>
                <td>
                    <f:for each="{institution.projects}" as="project">
                        <f:link.action
                        	action="listByTopic"
                        	arguments="{topic: topic.uid}"
                        	pluginName="{pluginName}"
                        	pageUid="{listViewPage}">
                            {project.title}
                        </f:link.action><br>
                    </f:for>
                </td>
            </tr>
            </tbody>
        </table>
        <p><f:link.action class="btn btn-primary" action="list">Zurück zur Liste</f:link.action></p>
    </article>
</div>
    </f:section>
</div>
• Name der Institution
• Typ (Forschung, Großunternehmen, KMU)
• Hauptsitz der Institution (Stadt)
• Bundesland
• Land
• Themenfeld (Optionen: Strombereitstellung, Chemische Umwandlung, Transport & Speicherung, Verwertung & Vertrieb – Mehrauswahl möglich)
• WSK-Elemente (Liste wird nachgereicht)