<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="Default" />

	<!--
        =====================
            Institution/InsertForm.html
    -->

    <f:section name="Content">
		<div class="institution-create">
		    <f:form action="add"
		    		controller="Institution"
		    		object="institution"
		    		name="institution">
				<div class="form-group {error-title}">
	            	<label for="title">{f:translate(key: 'addInstitution.label.title', extensionName: 'project_organizer')}</label>
	            	<f:form.textfield property="title" id="title" class="form-control" errorClass="has-error"/>
				</div>
				<f:form.button class="btn btn-default">{f:translate(key: 'addInstitution.submit', extensionName: 'project_organizer')}</f:form.button>
    		</f:form>
		</div>
    </f:section>
    
</div>
