<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="Default" />

	<!--
        =====================
            Institution/InsertForm.html
    -->

    <f:section name="Content">
		<f:debug>{_all}</f:debug>
		<div class="institution-create">
		    <f:form action="add"
		    		controller="Institution"
		    		object="institution"
		    		name="institution">
				<div class="form-group {error-title}">
	            	<label for="title">{f:translate(key: 'addInstitution.label.title', extensionName: 'project_organizer')}</label>
	            	<f:form.textfield property="title" id="title" class="form-control" errorClass="has-error"/>
				</div>

				<div class="form-group {error-location}">
					<label for="institutionType">Typ</label>
					<f:form.textfield property="institutionType" id="institutionType" class="form-control" errorClass="has-error"/>
					<f:form.validationResults for="project.institutionType">
						<f:if condition="{validationResults.flattenedErrors}">
							<ul class="errors">
								<f:for each="{validationResults.errors}" as="error">
									<li>{error}</li>
								</f:for>
							</ul>
						</f:if>
					</f:form.validationResults>
				</div>

				<div class="form-group {error-location}">
					<label for="location">Hauptsitz</label>
					<f:form.textfield property="location" id="location" class="form-control" errorClass="has-error"/>
					<f:form.validationResults for="project.location">
						<f:if condition="{validationResults.flattenedErrors}">
							<ul class="errors">
								<f:for each="{validationResults.errors}" as="error">
									<li>{error}</li>
								</f:for>
							</ul>
						</f:if>
					</f:form.validationResults>
				</div>
				<div class="form-group {error-location}">
					<label for="country">Land</label>
					<f:form.textfield property="country" id="country" class="form-control" errorClass="has-error"/>
					<f:form.validationResults for="project.country">
						<f:if condition="{validationResults.flattenedErrors}">
							<ul class="errors">
								<f:for each="{validationResults.errors}" as="error">
									<li>{error}</li>
								</f:for>
							</ul>
						</f:if>
					</f:form.validationResults>
				</div>
				<div class="form-group {error-state}">
					<label for="state">Bundesland</label>
					<f:form.textfield property="state" id="state" class="form-control" errorClass="has-error"/>
					<f:form.validationResults for="project.state">
						<f:if condition="{validationResults.flattenedErrors}">
							<ul class="errors">
								<f:for each="{validationResults.errors}" as="error">
									<li>{error}</li>
								</f:for>
							</ul>
						</f:if>
					</f:form.validationResults>
				</div>

				<div class="form-group {error-topics}">
					<label for="topics">{f:translate(key: 'label.topics', extensionName: 'project_organizer')}</label>
					<v:form.select property="topics" id="topics" multiple="true" class="form-control" errorClass="has-error" >
						<f:for each="{topics}" as="topic" >
							<v:form.select.option selected="false"
												  value="{topic.uid}" >
								{topic.title}
							</v:form.select.option>
						</f:for>
					</v:form.select>
					<f:form.validationResults for="project.topics">
						<f:if condition="{validationResults.flattenedErrors}">
							<ul class="errors">
								<f:for each="{validationResults.errors}" as="error">
									<li>{error}</li>
								</f:for>
							</ul>
						</f:if>
					</f:form.validationResults>
				</div>

				<div class="form-group {error-wskelements}">
					<label for="wskelements">WSKs</label>
					<v:form.select property="wskelements"
								   id="wskelements"
								   class="form-control"
								   errorClass="has-error"
								   multiple="true" >
						<f:for each="{wskelements}" as="wsk" >
							<v:form.select.option value="{wsk.uid}" >
								{wsk.title}
							</v:form.select.option>
						</f:for>
					</v:form.select>
					<f:form.validationResults for="person.wskelements">
						<f:if condition="{validationResults.flattenedErrors}">
							<ul class="errors">
								<f:for each="{validationResults.errors}" as="error">
									<li>{error}</li>
								</f:for>
							</ul>
						</f:if>
					</f:form.validationResults>
				</div>

				<div class="form-group {error-institutionType}">
					<label for="types">Typ</label>
					<v:form.select property="institutionType"
								   id="institutionType"
								   class="form-control"
								   errorClass="has-error"
								   multiple="false" >
						<f:for each="{types}" as="type" >
							<v:form.select.option value="{type.uid}" >
								{type.title}
							</v:form.select.option>
						</f:for>
					</v:form.select>
					<f:form.validationResults for="person.institutionType">
						<f:if condition="{validationResults.flattenedErrors}">
							<ul class="errors">
								<f:for each="{validationResults.errors}" as="error">
									<li>{error}</li>
								</f:for>
							</ul>
						</f:if>
					</f:form.validationResults>
				</div>

				<f:form.button class="btn btn-primary">{f:translate(key: 'addInstitution.submit', extensionName: 'project_organizer')}</f:form.button>
    		</f:form>
		</div>
    </f:section>
    
</div>
