<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <!--
        =====================
            Display/List.html


            ####################
            DEBUG:
            ####################

               0 => AlexGunkel\ProjectOrganizer\Domain\Model\Institutionprototypepersistent object (uid=17, pid=245)
      validationState => protected1 (integer)
      passwordHash => protected'$pbkdf2-sha256$25000$yizVT97drUNvQ5WjiNITyQ$dYJuLMtkBsJZeaazzd61U9nYMTjgabta
         JuB9S3znrjg' (87 chars)
      password => protectedNULL
      projects => protectedTYPO3\CMS\Extbase\Persistence\ObjectStorageprototypeobject (empty)
      institutionType => protectedAlexGunkel\ProjectOrganizer\Domain\Model\Institution\Typeprototypepersistent object (uid=3, pid=245)
         uid => protected3 (integer)
         _localizedUid => protected3 (integer)modified
         _languageUid => protectedNULL
         _versionedUid => protected3 (integer)modified
         pid => protected245 (integer)
         title => protected'Industrie' (9 chars)
      location => protected'Inst Sitz' (9 chars)
      country => protected'Inst Land' (9 chars)
      state => protected'Inst Bundesland' (15 chars)
      uid => protected17 (integer)
      _localizedUid => protected17 (integer)modified
      _languageUid => protectedNULL
      _versionedUid => protected17 (integer)modified
      pid => protected245 (integer)
      title => protected'Test Institution 01' (19 chars)
      topics => protectedTYPO3\CMS\Extbase\Persistence\ObjectStorageprototypeobject (2 items)
      wskelements => protectedTYPO3\CMS\Extbase\Persistence\ObjectStorageprototypeobject (1 items)
    -->

    <f:section name="Content">
<f:debug>{institutions}</f:debug>

        <div class="institutionList">
    <h2>{f:translate(key: 'listInstitution.heading', extensionName: 'project_organizer')}</h2>
    <table class="table table-style1 table-striped table-sortable">
        <thead>
            <tr>
                <th scope="col">{f:translate(key: 'addInstitution.label.name', extensionName: 'project_organizer')}</th>
                <th scope="col">{f:translate(key: 'institution.label.type', extensionName: 'project_organizer')}</th>
                <th scope="col">{f:translate(key: 'institution.label.topics', extensionName: 'project_organizer')}</th>
                <th scope="col">{f:translate(key: 'institution.label.projects', extensionName: 'project_organizer')}</th>
            </tr>
        </thead>
        <tbody>
        	<f:for each="{institutions}" as="institution">
        		<tr>
        			<td>
                        <f:link.action action="detail" pluginName="{pluginName}" arguments="{uid:institution.uid}">
                            {institution.title}
                        </f:link.action>
                    </td>
        			<td>
                        {institution.institutionType.title}
                    </td>
        			<td>
                        <f:for each="{institution.topics}" as="topic" iteration="iterator">
                            <f:link.action action="listByTopic" arguments="{topic:topic.uid}" pluginName="{pluginName}" pageUid="{listViewPage}">
                                {topic.title}{f:if(then: '', else: ', ', condition: '{iterator.isLast}')}
                            </f:link.action>
                        </f:for>
                    </td>
        			<td>
        				<ul>
        					<f:for each="{institution.projects}" as="project">
                                <f:if condition="{project.title}">
                                    <li>
                                        <f:link.action action="detail" pluginName="show_projects" arguments="{uid:project.uid}" pageUid="250">
                                            {project.title}
                                        </f:link.action>
                                    </li>
                                </f:if>
        					</f:for>
        				</ul>
        			</td>
        		</tr>
        	</f:for>
        </tbody>
    </table>
    <p class="btn-spacy">
        <a class="btn btn-primary" href="/projects/">{f:translate(key: 'projectDetail.title.overview', extensionName: 'project_organizer')}</a>
        <a class="btn btn-primary" href="/projects/add-institution/">{f:translate(key: 'addInstitution.label.addNewInstitution', extensionName: 'project_organizer')}</a>
        <f:if condition="{user} || {be_user}">
            <f:link.action action="list" arguments="{csv:'true'}" pluginName="{pluginName}" class="btn btn-defaut f-right">Download CSV</f:link.action>
        </f:if>
    </p>
</div>
    </f:section>
</div>