<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <!--
        =====================
            Display/List.html
    -->

    <f:section name="Content">
<div class="institutionList">
    <table class="table table-style1 table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Projects</th>
            </tr>
        </thead>
        <tbody>
        	<f:for each="{institutions}" as="institution">
        		<tr>
        			<td>{institution.title}</td>
        			<td>
        				<ul>
        					<f:for each="{institution.projects}" as="project">
        						<li>{project.title}</li>
        					</f:for>
        				</ul>
        			</td>
        		</tr>
        	</f:for>
        </tbody>
    </table>
</div>
    </f:section>
</div>