<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <!--
        =====================
            Display/List.html
    -->

    <f:section name="Content">
<div class="institutionList">
    <table class="table table-style1 table-striped">
        <thead>
            <tr>
                <th scope="col">{f:translate(key: 'addInstitution.label.name', extensionName: 'project_organizer')}</th>
                <th scope="col">{f:translate(key: 'addInstitution.label.projects', extensionName: 'project_organizer')}</th>
            </tr>
        </thead>
        <tbody>
        	<f:for each="{institutions}" as="institution">
        		<tr>
        			<td>
                        <f:link.action action="detail" pluginName="{pluginName}" arguments="{uid:institution.uid}">
                            {institution.title}
                        </f:link.action>
                    </td>
        			<td>
        				<ul>
        					<f:for each="{institution.projects}" as="project">
                                <f:if condition="{project.title}">
                                    <li>
                                        <f:link.action action="detail" pluginName="show_projects" arguments="{uid:project.uid}" pageUid="250">
                                            {project.title}
                                        </f:link.action>
                                    </li>
                                </f:if>
        					</f:for>
        				</ul>
        			</td>
        		</tr>
        	</f:for>
        </tbody>
    </table>
    <p class="btn-spacy">
        <a class="btn btn-primary" href="/intern/examples/projects/">{f:translate(key: 'projectDetail.title.overview', extensionName: 'project_organizer')}</a>
        <a class="btn btn-primary" href="/intern/examples/projects/add-institution/">{f:translate(key: 'addInstitution.label.addNewInstitution', extensionName: 'project_organizer')}</a>
    </p>
</div>
    </f:section>
</div>