<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <!--
        =====================
            Display/Detail.html
    -->

    <f:section name="Content">
        <div class="institution-detail">
            <article>
                <br>
                <h1 class="brand">{institution.title}</h1>
                <table class="table table-style1 table-side table-striped">
                    <tbody>
                    <tr>
                        <th>{f:translate(key: 'institution.label.projects', extensionName: 'project_organizer')}</th>
                        <td>
                            <f:for each="{institution.projects}" as="project">
                                <f:link.action
                                        action="listByTopic"
                                        arguments="{topic: topic.uid}"
                                        pluginName="{pluginName}"
                                        pageUid="{listViewPage}">
                                    {project.title}
                                </f:link.action><br>
                            </f:for>
                        </td>
                    </tr>
                    <tr>
                        <th>{f:translate(key: 'institution.label.type', extensionName: 'project_organizer')}</th>
                        <td>{institution.institutionType.title}</td>
                    </tr>
                    <tr>
                        <th>{f:translate(key: 'institution.label.location', extensionName: 'project_organizer')}</th>
                        <td>{institution.location}</td>
                    </tr>
                    <tr>
                        <th>{f:translate(key: 'institution.label.state', extensionName: 'project_organizer')}</th>
                        <td>{institution.state}</td>
                    </tr>
                    <tr>
                        <th>{f:translate(key: 'institution.label.country', extensionName: 'project_organizer')}</th>
                        <td>{institution.country}</td>
                    </tr>
                    <tr>
                        <th>{f:translate(key: 'institution.label.topics', extensionName: 'project_organizer')}</th>
                        <td>
                            <f:for each="{institution.topics}" as="topic">
                                {topic.title},
                            </f:for>
                        </td>
                    </tr>
                    <tr>
                        <th>{f:translate(key: 'institution.label.wskelements', extensionName: 'project_organizer')}</th>
                        <td>
                            <f:for each="{institution.wskelements}" as="wskelement">
                                {wskelement.title},
                            </f:for>
                        </td>
                    </tr>


                    </tbody>
                </table>

                <f:if condition="{validationCode}">
                        <f:form action="validateByValidationCode"
                                controller="Institution">
                            <f:form.hidden name="validationCode" value="{validationCode}" />
                            <f:form.hidden name="itemUid" value="{itemUid}" />
                            <f:form.hidden name="do_it" value="yes" />
                            <f:form.button class="btn btn-primary">Freischalten</f:form.button>
                        </f:form>
                </f:if>
            </article>
        </div>
    </f:section>
</div>