<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <!--
        =====================
            Display/Detail.html
    -->

    <f:section name="Content">
<div class="publication-detail">
    <article>
        <br>
        <h1 class="brand">{publication.title}</h1>
        <f:if condition="{publication.type}"><p>{f:translate(key: 'addPublication.label.type', extensionName: 'project_organizer')}: {publication.type}</p></f:if>
        <f:if condition="{publication.author}"><p>{f:translate(key: 'addPublication.label.author', extensionName: 'project_organizer')}: {publication.author}</p></f:if>
        <f:if condition="{publication.type}"><p>{f:translate(key: 'addPublication.label.link', extensionName: 'project_organizer')}: {publication.link}</p></f:if>
        <p>{f:translate(key: 'addPublication.label.date', extensionName: 'project_organizer')}: {publication.published}</p>
        <br>
        <p>
            <f:link.action action="list" class="btn btn-primary">
                {f:translate(key: 'projectDetail.title.overview', extensionName: 'project_organizer')}
            </f:link.action>
        </p>

        <f:if condition="{be_user.admin}" >
            <f:link.action action="delete" class="btn btn-primary" arguments="{uid:publication.uid}">löschen</f:link.action>
        </f:if>
    </article>
</div>
    </f:section>
</div>