<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <!--
        =====================
            Display/List.html
    -->

    <f:section name="Content">
        <div class="publicationList">
            <table class="table table-style1 table-striped table-sortable">
                <thead>
                <tr>
                    <th scope="col">{f:translate(key: 'addPublication.label.title', extensionName: 'project_organizer')}</th>
                    <th scope="col">{f:translate(key: 'addPublication.label.author', extensionName: 'project_organizer')}</th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{publications}" as="publication">
                    <tr>
                        <td>
                            <f:if condition="{publication.title}">
                                <f:link.action action="detail" pluginName="{pluginName}" arguments="{uid:publication.uid}" pageUid="{detailViewPage}">
                                {publication.title}
                                </f:link.action>
                            </f:if>
                            <f:if condition="{publication.link}">
                                <br>{publication.link}
                            </f:if>
                        </td>
                        <td>{publication.author}</td>
                    </tr>
                </f:for>
        </tbody>
    </table>
</div>
    </f:section>
</div>