<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <!--
        =====================
            Manager/Detail.html
    -->

    <f:section name="Content">
<h1>Detailansicht</h1>
<h2>{project.title}</h2>
<p>Themenfeld: {project.topic}</p>
<p>E-Mail: {project.contactEmail}</p>
<h3>Wertschöpfungskettenelemente:</h3>
<ol>
    <f:for each="{project.wskElement}" as="wsk" >
        <li>{wsk.title}</li>
    </f:for>
</ol>
<p>Institution: {project.institution}</p>
<p>Status: {project.status.title}</p>
<p>Fördervolumen: {project.volume}</p>
<p>Gesamtvolumen: {project.overallVolume}</p>
<p>Förderprogramm: {project.researchprogram.title}</p>
<p><f:link.external uri="{project.link}" >Link zum Programm</f:link.external></p>
<h3>Ansprechpartner:</h3>
<p>{project.contactPerson.title}</p>
<h3>Beschreibung:</h3>
<p>{project.description}</p>
<p>Region: {project.region.title}</p>
<h3>Veröffentlichungen:</h3>
<ol>
    <f:for each="{project.publication}" as="publication" >
        <li>{publication.title}</li>
    </f:for>
</ol>

<f:comment>
    <h3>Beteiligte Personen:</h3>
    <ol>
        <f:for each="{project.persons}" as="persons" >
            <li>{persons.title}</li>
        </f:for>
    </ol>

    <p>runtime_start: {project.runtimeStart}</p>
    <p>runtime_end: {project.runtimeEnd}</p>
    <br>
    <p>Location: {project.location}</p>
    <p>geo_location_x: {project.geoLocationX} / {project.geoLocationX}</p>
    <p>Show in Map: {project.showInMap}<br>
                Is hypos Project: {project.hypos}<br>
                Is demonstration Project: {project.demoProject}<br>
                ResearchProgram: {project.researchprogram}<br>
                Location: {project.location}<br></p>
</f:comment>
<f:link.action action="listOpenRequests" >Zurück zur Liste</f:link.action>
    </f:section>
</div>