<f:layout name="Default" />

<f:section name="content">
    <div role="tabpanel">
        <ul class="nav nav-tabs t3js-tabs" role="tablist" id="tabs-tab" data-store-last-tab="1">
            <li role="presentation" class="t3js-tabmenu-item  active">
                <a href="#tab-1" title="" aria-controls="tab-1" role="tab" data-toggle="tab">
                    Open Requests
                </a>
            </li>
            <li role="presentation" class="t3js-tabmenu-item ">
                <a href="#tab-2" title="" aria-controls="tab-2" role="tab" data-toggle="tab">
                    Accepted
                </a>
            </li>
            <li role="presentation" class="t3js-tabmenu-item ">
                <a href="#tab-3" title="" aria-controls="tab-3" role="tab" data-toggle="tab">
                    Denied
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab-1">
                <div class="panel panel-tab">
                    <div class="panel-body">
                        <f:render partial="Manager/RequestList" arguments="{projects:open}" />
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-2">
                <div class="panel panel-tab">
                    <div class="panel-body">
                        <f:render partial="Manager/RequestList" arguments="{projects:accepted}" />
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-3">
                <div class="panel panel-tab">
                    <div class="panel-body">
                        <f:render partial="Manager/RequestList" arguments="{projects:denied}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:section>