<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <!--
        =====================
            Display/Detail.html
    -->

    <f:section name="Content">
<div class="expert-detail">
    <article>
        <br>
        <h1 class="brand">{expert.title}</h1>
        <p><f:link.action action="list">
        	Zurück zur Liste
        </f:link.action></p>
    </article>
</div>
    </f:section>
</div>