<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="Default" />

	<!--
        =====================
            Person/InsertForm.html
    -->

    <f:section name="Content">
		<div class="person-create">
		    <f:form action="submit"
		    		controller="Expert"
		    		object="person"
		    		name="person">
				<div class="form-group {error-title}">
	            	<label for="title">Name</label>
	            	<f:form.textfield property="title" id="title" class="form-control" errorClass="has-error"/>
				</div>

				<h4>Publikation 1</h4>
				<div class="form-group {error-title}">
					<label for="authors0">Autor(en)</label>
					<f:form.textfield name="authors0" id="authors0" class="form-control" errorClass="has-error"/>
				</div>

				<div class="form-group {error-title}">
	            	<label for="publication0">Publikation</label>
	            	<f:form.textfield name="publication0" id="publication0" class="form-control" errorClass="has-error"/>
				</div>

				<div class="form-group {error-title}">
	            	<label for="year0">Jahr</label>
	            	<f:form.textfield name="year0" id="year0" class="form-control" errorClass="has-error"/>
				</div>

				<div class="form-group {error-title}">
	            	<label for="type0">Art der Publikation</label>
	            	<f:form.textfield name="type0" id="type0" class="form-control" errorClass="has-error"/>
				</div>



				<h4>Publikation 2</h4>
				<div class="form-group {error-title}">
					<label for="authors2">Autor(en)</label>
					<f:form.textfield name="authors2" id="authors2" class="form-control" errorClass="has-error"/>
				</div>

				<div class="form-group {error-title}">
	            	<label for="publication2">Publikation</label>
	            	<f:form.textfield name="publication2" id="publication2" class="form-control" errorClass="has-error"/>
				</div>

				<div class="form-group {error-title}">
	            	<label for="year2">Jahr</label>
	            	<f:form.textfield name="year2" id="year2" class="form-control" errorClass="has-error"/>
				</div>

				<div class="form-group {error-title}">
	            	<label for="type2">Art der Publikation</label>
	            	<f:form.textfield name="type2" id="type2" class="form-control" errorClass="has-error"/>
				</div>



				<h4>Publikation 3</h4>
				<div class="form-group {error-title}">
					<label for="authors3">Autor(en)</label>
					<f:form.textfield name="authors3" id="authors3" class="form-control" errorClass="has-error"/>
				</div>

				<div class="form-group {error-title}">
	            	<label for="publication3">Publikation</label>
	            	<f:form.textfield name="publication3" id="publication3" class="form-control" errorClass="has-error"/>
				</div>

				<div class="form-group {error-title}">
	            	<label for="year3">Jahr</label>
	            	<f:form.textfield name="year3" id="year3" class="form-control" errorClass="has-error"/>
				</div>

				<div class="form-group {error-title}">
	            	<label for="type3">Art der Publikation</label>
	            	<f:form.textfield name="type3" id="type3" class="form-control" errorClass="has-error"/>
				</div>



				<h4>Publikation 4</h4>
				<div class="form-group {error-title}">
					<label for="authors1">Autor(en)</label>
					<f:form.textfield name="authors1" id="authors1" class="form-control" errorClass="has-error"/>
				</div>

				<div class="form-group {error-title}">
	            	<label for="publication1">Publikation</label>
	            	<f:form.textfield name="publication1" id="publication1" class="form-control" errorClass="has-error"/>
				</div>

				<div class="form-group {error-title}">
	            	<label for="year1">Jahr</label>
	            	<f:form.textfield name="year1" id="year1" class="form-control" errorClass="has-error"/>
				</div>

				<div class="form-group {error-title}">
	            	<label for="type1">Art der Publikation</label>
	            	<f:form.textfield name="type1" id="type1" class="form-control" errorClass="has-error"/>
				</div>



				<h4>Weiteres</h4>
				<div class="form-group {error-location}">
					<label for="location">Sitz</label>
					<f:form.textfield property="location" id="location" class="form-control" errorClass="has-error"/>
					<f:form.validationResults for="person.email">
						<f:if condition="{location.flattenedErrors}">
							<ul class="errors">
								<f:for each="{location.errors}" as="error">
									<li>{error}</li>
								</f:for>
							</ul>
						</f:if>
					</f:form.validationResults>
				</div>

				<div class="form-group {error-position}">
					<label for="position">Position</label>
					<f:form.textfield property="position" id="position" class="form-control" errorClass="has-error"/>
					<f:form.validationResults for="person.position">
						<f:if condition="{position.flattenedErrors}">
							<ul class="errors">
								<f:for each="{position.errors}" as="error">
									<li>{error}</li>
								</f:for>
							</ul>
						</f:if>
					</f:form.validationResults>
				</div>

				<div class="form-group {error-email}">
					<label for="email">E-Mail</label>
					<f:form.textfield property="email" id="email" class="form-control" errorClass="has-error"/>
					<f:form.validationResults for="person.email">
						<f:if condition="{validationResults.flattenedErrors}">
							<ul class="errors">
								<f:for each="{validationResults.errors}" as="error">
									<li>{error}</li>
								</f:for>
							</ul>
						</f:if>
					</f:form.validationResults>
				</div>

				<div class="form-group {error-location}">
					<label for="emailpublic">E-Mail-Adresse anzeigen?
						<f:form.checkbox property="emailpublic" id="emailpublic" value="emailpublic" class="form-control" />
					</label>
				</div>

				<div class="form-group {error-institution}">
					<label for="institution">Institution</label>
					<v:form.select property="institution"
								   id="institution"
								   class="form-control"
								   errorClass="has-error"
								   multiple="false" >
						<f:for each="{institutions}" as="wsk" >
							<v:form.select.option value="{wsk.uid}" >
								{wsk.title}
							</v:form.select.option>
						</f:for>
					</v:form.select>
					<f:form.validationResults for="person.institution">
						<f:if condition="{validationResults.flattenedErrors}">
							<ul class="errors">
								<f:for each="{validationResults.errors}" as="error">
									<li>{error}</li>
								</f:for>
							</ul>
						</f:if>
					</f:form.validationResults>
				</div>

				<div class="form-group {error-topics}">
					<label for="topics">{f:translate(key: 'label.topics', extensionName: 'project_organizer')}</label>
					<v:form.select property="topics" id="topics" multiple="true" class="form-control" errorClass="has-error" >
						<f:for each="{topics}" as="topic" >
							<v:form.select.option selected="false"
												  value="{topic.uid}" >
								{topic.title}
							</v:form.select.option>
						</f:for>
					</v:form.select>
					<f:form.validationResults for="project.topics">
						<f:if condition="{validationResults.flattenedErrors}">
							<ul class="errors">
								<f:for each="{validationResults.errors}" as="error">
									<li>{error}</li>
								</f:for>
							</ul>
						</f:if>
					</f:form.validationResults>
				</div>

				<div class="form-group {error-wskelements}">
					<label for="wskelements">WSKs</label>
					<v:form.select property="wskelements"
								   id="wskelements"
								   class="form-control"
								   errorClass="has-error"
								   multiple="true" >
						<f:for each="{wskelements}" as="wsk" >
							<v:form.select.option value="{wsk.uid}" >
								{wsk.title}
							</v:form.select.option>
						</f:for>
					</v:form.select>
					<f:form.validationResults for="person.wskelements">
						<f:if condition="{validationResults.flattenedErrors}">
							<ul class="errors">
								<f:for each="{validationResults.errors}" as="error">
									<li>{error}</li>
								</f:for>
							</ul>
						</f:if>
					</f:form.validationResults>
				</div>

				<div class="form-group {error-entryDate}">
					<label for="entryDate">Tätig im Wasserstoffsektor seit</label>
					<f:form.textfield property="entryDate" id="entryDate" class="form-control" errorClass="has-error"/>
					<f:form.validationResults for="person.entryDate">
						<f:if condition="{validationResults.flattenedErrors}">
							<ul class="errors">
								<f:for each="{validationResults.errors}" as="error">
									<li>{error}</li>
								</f:for>
							</ul>
						</f:if>
					</f:form.validationResults>
				</div>

				<div class="form-group {error-description}">
					<label for="description">Details & Erfahrungen (freier Text zur Expertenbeschreibung)</label>
					<f:form.textarea property="description" id="description" class="form-control" errorClass="has-error"/>
					<f:form.validationResults for="person.description">
						<f:if condition="{validationResults.flattenedErrors}">
							<ul class="errors">
								<f:for each="{validationResults.errors}" as="error">
									<li>{error}</li>
								</f:for>
							</ul>
						</f:if>
					</f:form.validationResults>
				</div>

				<div class="form-group {error-specialistField}">
					<label for="specialistField">Fachbereich</label>
					<f:form.textfield property="specialistField" id="specialistField" class="form-control" errorClass="has-error"/>
					<f:form.validationResults for="person.specialistField">
						<f:if condition="{validationResults.flattenedErrors}">
							<ul class="errors">
								<f:for each="{validationResults.errors}" as="error">
									<li>{error}</li>
								</f:for>
							</ul>
						</f:if>
					</f:form.validationResults>
				</div>
				<f:form.button class="btn btn-primary">Hinzufügen</f:form.button>
    		</f:form>
		</div>
    </f:section>
    
</div>
