<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <!--
        =====================
            Display/List.html
    -->

    <f:section name="Content">
        <div class="expertList">
    <table class="table table-style1 table-striped table-sortable">
        <thead>
            <tr>
                <th scope="col">{f:translate(key: 'addExpert.label.name', extensionName: 'project_organizer')}</th>
                <th scope="col">{f:translate(key: 'addExpert.label.projects', extensionName: 'project_organizer')}</th>
            </tr>
        </thead>
        <tbody>
        	<f:for each="{experts}" as="expert">
        		<tr>
        			<td>
                        <f:if condition="{expert.title}">
                            <f:link.action action="detail" pluginName="{pluginName}" arguments="{uid:expert.uid}" pageUid="{detailViewPage}">
                                {expert.title}
                            </f:link.action>
                        </f:if>
                    </td>
        			<td>
        				<ul>
        					<f:for each="{expert.projects}" as="project">
        						<li>
                                    <f:if condition="{project.title}">
                                        <f:link.action action="detail" pluginName="tx_projectorganizer_show_projects" arguments="{uid:project.uid}" pageUid="250">
                                            {project.title}
                                        </f:link.action>
                                    </f:if>
                                </li>
        					</f:for>
        				</ul>
        			</td>
        		</tr>
        	</f:for>
        </tbody>
    </table>
    <p class="btn-spacy">
        <f:if condition="{user} || {be_user}">
            <f:link.action action="list" arguments="{csv:'true'}" pluginName="{pluginName}" >download csv</f:link.action>
        </f:if>
        <a class="btn btn-primary" href="/intern/examples/projects/">{f:translate(key: 'projectDetail.title.overview', extensionName: 'project_organizer')}</a>
        <a class="btn btn-primary" href="/intern/examples/projects/add-expert/">{f:translate(key: 'addExpert.label.addNewExpert', extensionName: 'project_organizer')}</a>
    </p>
</div>
    </f:section>
</div>