<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <!--
        =====================
            Validator/ValidateByValidationCode.html
    -->

    <f:section name="Content">
<div class="expert-detail">
    <article>
        <br>
        <h1 class="brand">{expert.title}</h1>
        <table class="table table-style1 table-striped">
            <tbody>
                <tr>
                        <td>{f:translate(key: 'expertDetail.label.email', extensionName: 'project_organizer')}
                            <f:if condition="{expert.emailpublic}==0">
                                <span class="errors">&nbsp;(!) Don't show email!</span>
                            </f:if>
                        </td>
                        <td>{expert.email}</td>
                </tr>

            <tr>
                    <td>{f:translate(key: 'expertDetail.label.description', extensionName: 'project_organizer')}</td>
                <td>{expert.description}</td>
            </tr>
            <tr>
                    <td>{f:translate(key: 'expertDetail.label.specialistField', extensionName: 'project_organizer')}</td>
                <td>{expert.specialistField}</td>
            </tr>
            <tr>
                    <td>{f:translate(key: 'expertDetail.label.entryDate', extensionName: 'project_organizer')}</td>
                <td>{expert.entryDate}</td>
            </tr>
            <tr>
                    <td>{f:translate(key: 'expertDetail.label.topics', extensionName: 'project_organizer')}</td>
                <td>
                    <ol>
                        <f:for each="{expert.topics}" as="topic">
                            <li>{topic.title}</li>
                        </f:for>
                    </ol>
                </td>
            </tr>
            <tr>
                    <td>{f:translate(key: 'expertDetail.label.institutions', extensionName: 'project_organizer')}</td>
                <td>
                    <ol>
                        <f:for each="{expert.institutions}" as="institution">
                            <li>{institution.title}</li>
                        </f:for>
                    </ol>
                </td>
            </tr>
            <tr>
                    <td>{f:translate(key: 'expertDetail.label.wskelements', extensionName: 'project_organizer')}</td>
                <td>
                    <ol>
                        <f:for each="{expert.wskelements}" as="wskelement">
                            <li>{wskelement.title}</li>
                        </f:for>
                    </ol>
                </td>
            </tr>
            </tbody>
        </table>
        <f:if condition="{validationCode}">
                <f:form action="validateByValidationCode"
                        controller="Expert">
                    <f:form.hidden name="validationCode" value="{validationCode}" />
                    <f:form.hidden name="itemUid" value="{itemUid}" />
                    <f:form.hidden name="do_it" value="yes" />
                    <f:form.button class="btn btn-primary">Freischalten</f:form.button>
                </f:form>
        </f:if>
    </f:section>
</div>